﻿@model Bll.DTO.BookListData

@{
    ViewBag.Title = Resources.LocalizedText.General_Delete;
}

<h2>@Model.Name</h2>
<h3>@Resources.LocalizedText.List_Delete_Confirm</h3>

<div>
    <div>
        @if (Model.Entires.Count > 0)
            {
            <ol>
                @foreach (var book in Model.Entires)
                {
                    <li>
                        @if (!string.IsNullOrWhiteSpace(@book.Author))
                        {
                            @book.Author
                            @: &ndash;
                    }
                        @book.Title (@book.Year)
                    </li>
                }
            </ol>

        }
        else
        {
            <div style="margin-bottom: 10px">@Resources.LocalizedText.List_NoEntries</div>
        }
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="btn-group">
            <input type="submit" value="@Resources.LocalizedText.General_Delete" class="btn btn-danger" />
            @Html.ActionLink(Resources.LocalizedText.General_Back, "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
