﻿@model Bll.DTO.BookListData

@{
    ViewBag.Title = string.Format(Resources.LocalizedText.Title_List_Details, Model.Name);
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div>
        @if (Model.Entires.Count > 0)
            {
            <ol>
                @foreach (var book in Model.Entires)
                {
                    <li>
                        <a href="@Url.Action("Details", "Book", new { id = book.Id })">
                            @if (!string.IsNullOrWhiteSpace(@book.Author))
                            {
                                @book.Author
                                @: &ndash;
                            }
                            @book.Title (@book.Year)
                        </a>
                    </li>
                }
            </ol>

        }
        else
        {
            @Resources.LocalizedText.List_NoEntries
        }
    </div>
    <div class="text-muted">
        @Resources.LocalizedText.List_Details_ShareUrl
        @{var shareUrl = new Uri(Context.Request.Url, @Url.Action("Details", new { id = Model.Id })).ToString();}
        <a href="@shareUrl">@shareUrl</a>
    </div>
</div>
