﻿@model Bll.DTO.BookListData

@{
    ViewBag.Title = @Resources.LocalizedText.General_Edit;
}

<h2>@Model.Name</h2>

@using (Html.BeginForm("RemoveBook", "List"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.LocalizedText.List_Edit_Entries</label>
            <div class="col-md-10">
                <div class="list-group">
                    @foreach (var book in Model.Entires)
                    {
                        <div class="list-group-item">
                            <button type="submit" formaction="@Url.Action("RemoveBook", "List", new { id = Model.Id, bookId = book.Id })" class="btn btn-danger btn-xs">
                                <span class="fa fa-minus"></span>
                            </button>&ensp;
                            <span>
                                @if (!string.IsNullOrWhiteSpace(@book.Author))
                                {
                                    @book.Author
                                    @: &ndash;
                                }
                                @book.Title (@book.Year)
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AddBook", "List"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="add-entry-filter">@Resources.LocalizedText.List_Edit_NewEntry</label>
            <div class="col-md-10">
                <input id="add-entry-filter" type="text" class="form-control" placeholder="@Resources.LocalizedText.List_Edit_Filter" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-push-2">
                <div class="list-group" id="add-entry-results"></div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(function () {
            $('#add-entry-filter')
                .on('keyup', function () {
                    var params = { q: $(this).val(), listId: '@Model.Id' };
                    $('#add-entry-results').load('@Url.Action("FilterForList", "Book")', params);
                })
                .trigger('keyup');
        })
    </script>
}