﻿@model IEnumerable<Bll.DTO.BookListHeaderData>

@{
    ViewBag.Title = Resources.LocalizedText.Pages_Lists;
}

<h2>@Resources.LocalizedText.Pages_Lists</h2>

<p>
    @Html.ActionLink(Resources.LocalizedText.General_Create_New, "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(Resources.LocalizedText.General_Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Resources.LocalizedText.General_Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Resources.LocalizedText.General_Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
