﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Librexandra♯</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6">
                <h1>Librexandra<sub>♯</sub></h1>
            </div>
            <div class="col-md-6 text-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    @Html.ActionLink(Resources.LocalizedText.Pages_Home, "Index", "Home", routeValues: null, htmlAttributes: new { @class = "list-group-item" + ("Home".Equals(@ViewContext.RouteData.Values["controller"]) ? " active" : "") })
                    @Html.ActionLink(Resources.LocalizedText.Pages_Books, "Index", "Book", routeValues: null, htmlAttributes: new { @class = "list-group-item" + ("Book".Equals(@ViewContext.RouteData.Values["controller"]) ? " active" : "") })
                    @Html.ActionLink(Resources.LocalizedText.Pages_Lists, "Index", "List", routeValues: null, htmlAttributes: new { @class = "list-group-item" + ("List".Equals(@ViewContext.RouteData.Values["controller"]) ? " active" : "") })
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink(Resources.LocalizedText.Pages_Admin, "Index", "Admin", routeValues: null, htmlAttributes: new { @class = "list-group-item" + ("Admin".Equals(@ViewContext.RouteData.Values["controller"]) ? " active" : "") })
                    }
                </div>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
