﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="list-inline">
            <li>@User.Identity.GetUserName()</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LocalizedText.LogOut</a></li>
        </ul>
    }
}
else
{
    <ul class="list-inline">
        <li>@Html.ActionLink(Resources.LocalizedText.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.LocalizedText.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
