﻿@model Bll.DTO.CommentData

@{
    ViewBag.Title = "EditComment";
}

<h2>EditComment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CommentData</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.Timestamp)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Timestamp, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Original Text:
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Text, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.DisplayNameFor(model => model.Text)
            </div>
            <div class="col-md-10">
                @Html.TextArea("text", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
