﻿
@{
    ViewBag.Title = Resources.LocalizedText.Pages_Admin;
}

<h2>@Resources.LocalizedText.Pages_Admin</h2>

<div class="list-group">
    <a href="@Url.Action("ManageBooks")" class="list-group-item">
        Manage books
        @if (ViewBag.PendingBooks != null && ViewBag.PendingBooks > 0)
        {
            <span class="badge">@ViewBag.PendingBooks</span>
        }
    </a>
    <a href="@Url.Action("ManageComments")" class="list-group-item">
        Manage comments
        @if (ViewBag.PendingComments != null && ViewBag.PendingComments > 0)
        {
            <span class="badge">@ViewBag.PendingComments</span>
        }
    </a>
    @Html.ActionLink("Manage users", "ManageUsers", "Admin", new { @class = "list-group-item" })
</div>

