﻿@model IEnumerable<Bll.DTO.CommentExtraData>

@{
    ViewBag.Title = "ManageComments";
}

<h2>ManageComments</h2>

<div class="list-group">

    @foreach (var item in Model)
    {
        <div class="list-group-item row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <span class="fa fa-user"></span>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="fa fa-clock-o"></span>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.DisplayFor(modelItem => item.Text)
                    </div>
                    <div class="col-md-12">
                        Book:
                        <a href="@Url.Action("Details", "Book", new { id = item.BookId })">
                            @Html.DisplayFor(modelItem => item.BookAuthor): @Html.DisplayFor(modelItem => item.BookTitle) (@Html.DisplayFor(modelItem => item.BookYear))
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="btn-group">
                        <button type="submit" formaction="@Url.Action("VerifyComment", "Admin", new { id = item.Id })" formmethod="post" class="btn btn-success">Verify</button>
                        <button type="submit" formaction="@Url.Action("EditComment", "Admin", new { id = item.Id })" formmethod="get" class="btn btn-warning">Edit</button>
                        <button type="submit" formaction="@Url.Action("DeleteComment", "Admin", new { id = item.Id })" formmethod="post" class="btn btn-danger">Delete</button>
                    </div>
                }
            </div>
        </div>
    }

</div>
