﻿@model IEnumerable<Web.Models.UserViewModel>

@{
    ViewBag.Title = "ManageUsers";
}

<h2>ManageUsers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBanned)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
                @using (Html.BeginForm("ManageUser", "Admin", new { id = item.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="btn-group">
                        @if (!item.IsBanned)
                        {
                            if (!item.IsAdmin)
                            {
                                <button type="submit" name="promote" value="1" class="btn btn-success">Promote</button>
                            }
                            else
                            {
                                <button type="submit" name="demote" value="1" class="btn btn-warning">Demote</button>
                            }
                            <button type="submit" name="lockout" value="1" class="btn btn-danger">Lockout</button>
                        }
                        else
                        {
                            <button type="submit" name="pardon" value="1" class="btn btn-info">Pardon</button>
                        }
                    </div>
                }
            </td>
        </tr>
    }
</table>
