﻿@model IEnumerable<Bll.DTO.BookData>

@{
    ViewBag.Title = "ManageBooks";
}

<h2>ManageBooks</h2>

<div class="list-group">

    @foreach (var item in Model)
    {
        <div class="list-group-item row">
            <div class="col-md-6">
                <img src="@Url.Action("CoverImage", "Book", new { id = item.Id })" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayFor(model => item.Title) (@Html.DisplayFor(model => item.Year))
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @(Resources.LocalizedText.Book_Author): @Html.DisplayFor(model => item.Author)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Description)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @using (Html.BeginForm("ManageBook", "Admin", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="btn-group">
                                        <button type="submit" name="accept" value="1" class="btn btn-success">
                                            <span class="fa fa-check"></span> Approve
                                        </button>
                                        <button type="submit" name="delete" value="1" class="btn btn-danger">
                                            <span class="fa fa-remove"></span> Delete
                                        </button>
                                    </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
