﻿@model Web.Models.BookDetailsViewModel

@{
    ViewBag.Title = string.Format(Resources.LocalizedText.Title_Book_Details, Model.Book.Title);
    var formattedAverageRating = Model.AverageRating.ToString("0.##", System.Globalization.CultureInfo.CurrentUICulture);
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">
            @Html.DisplayFor(model => model.Book.Title)
            (@Html.DisplayFor(model => model.Book.Year))
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-md-6 text-center">
            <img src="@Url.Action("CoverImage", new { id = Model.Book.Id })" />
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="2">
                            @(Resources.LocalizedText.Book_Author): @Html.DisplayFor(model => model.Book.Author)
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 12px">
                            @(Resources.LocalizedText.Book_Rating): <span id="book-rating">@formattedAverageRating</span>/10
                        </td>
                        <td class="text-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("PostRating", "Book", new { id = Model.Book.Id }, FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.DropDownList("rating", Model.RatingSelectList, "Rating", new { @class = "form-control input-sm", style = "max-width: 85px" })
                                    <button type="submit" class="btn btn-sm btn-primary">@(Model.UserRating == null ? "Rate" : "Change")</button>
                                }
                            }
                        </td>
                    </tr>
                    @if (Model.RelatedLists.Count > 0)
                    {
                        <tr>
                            <td colspan="2">
                                @(Resources.LocalizedText.Book_RecentLists):
                                <ul class="list-inline">
                                    @foreach (var l in Model.RelatedLists)
                                    {
                                        <li>
                                            @Html.ActionLink(l.Name, "Details", "List", new { id = l.Id }, null)
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">
                            <div style="white-space: pre-line">@Html.DisplayFor(model => model.Book.Description)</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="list-group">
        <div id="comment-list">
            @Html.Partial("ListComments", Model.Comments)
        </div>

        <div class="list-group-item">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="list-group-item-heading">Write a comment:</div>
                using (Html.BeginForm("PostComment", "Book", new { id = Model.Book.Id }, FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBox("text", "", htmlAttributes: new { @class = "form-control" })
                    <button type="submit" class="btn btn-primary">Post</button>
                }
                <div class="text-danger">@ViewBag.PostCommentError</div>
            }
            else
            {
                <span class="text-center">You need to be logged in to write a comment.</span>
            }
        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    <script type="text/javascript">
        $(function () {
            var bookHub = $.connection.bookHub;

            bookHub.client.updateComments = function () {
                $("#comment-list").load('@Url.Action("ListComments")', {id: @Model.Book.Id});
            };

            bookHub.client.updateRating = function (rating) {
                $("#book-rating").text((Math.round(rating * 100) / 100).toLocaleString());
            };

            $.connection.hub.start().done(function () {
                bookHub.server.joinRoom(@Model.Book.Id);
            });
        });
    </script>
}
