﻿@model Web.Models.BookFilterViewModel

@foreach (var item in Model.FilteredBooks)
{
    <div class="list-group-item">
        <button type="submit" formaction="@Url.Action("AddBook", "List", new { id = Model.BookListId, bookId = item.Id })" class="btn btn-success btn-xs">
            <span class="fa fa-plus"></span>
        </button>&ensp;
        <span class="form-control-static">
            @if (!string.IsNullOrWhiteSpace(item.Author))
            {
                @Html.DisplayFor(modelItem => item.Author)
                @: &ndash;
            }
            @Html.DisplayFor(modelItem => item.Title) (@Html.DisplayFor(modelItem => item.Year))
        </span>
    </div>
}