﻿@using PagedList
@using PagedList.Mvc
@using Web.Helpers.Mvc
@model IPagedList<Bll.DTO.BookHeaderData>

@{
    ViewBag.Title = @Resources.LocalizedText.Pages_Books;
}

<h2>@Resources.LocalizedText.Pages_Books</h2>

<p>
    @Html.ActionLink(Resources.LocalizedText.General_Create_New, "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id=item.Id })">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber = pageNumber }), PagingHelper.CustomPagedListRenderOptions)
</div>