﻿@model IEnumerable<Bll.DTO.CommentData>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <span class="fa fa-user"></span>
                    @Html.DisplayFor(modelItem => item.UserName)
                </div>
                <div class="col-md-6">
                    <span class="fa fa-clock-o"></span>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </div>
                <div class="col-md-2">
                    @if (item.Status == Bll.CommentStatus.Original)
                    {
                        using (Html.BeginForm("Report", "Comment", new { id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-warning btn-xs">Report</button>
                        }
                    }
                    else
                    {
                        switch (item.Status)
                        {
                            case Bll.CommentStatus.Reported:
                                <span class="label label-danger">@Resources.LocalizedText.CommentStatus_Reported</span>
                                break;
                            case Bll.CommentStatus.Verified:
                                <span class="label label-success">@Resources.LocalizedText.CommentStatus_Verified</span>
                                break;
                            case Bll.CommentStatus.Edited:
                                <span class="label label-info">@Resources.LocalizedText.CommentStatus_Edited</span>
                                break;
                        }
                        @* @(typeof(Resources.LocalizedText).GetProperty("CommentStatus_" + item.Status.ToString()).GetValue(null)) *@
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (item.Status != Bll.CommentStatus.Reported)
                    {
                        @Html.DisplayFor(modelItem => item.Text)
                    }
                    else
                    {
                        @Resources.LocalizedText.Comment_UnderReview
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="list-group-item">There are no comments</div>
}
