﻿
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.table tbody:first-child tr:first-child td {
    border-top: 0px none;
}